main {
  background-color: #2b2d42;
}

::-webkit-scrollbar {
  width: 10px;
  background: #343444;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
}
