.sidebar--component {
  top: 60px;
  left: 0;
  width: 240px;
  display: hidden;
  background-color: #2b2d42;
  height: 100vh;
}
.sidebar--content {
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.sidebar--col {
  display: flex;
  flex-direction: column;
  padding-left: 0.75rem;
}
img {
  height: 20px;
  width: 20px;
  margin-right: 1rem;
}

p {
  color: #d3d4d9;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
}

p:hover {
  color: #30cfd0;
  cursor: pointer;
}
