.sidebar--component {
  top: 60px;
  left: 0;
  width: 240px;
  border-right: 1px solid #d3d4d9;
  background-color: #1b263b;
  height: 100vh;
}
.sidebar--content {
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.sidebar--col {
  display: flex;
  flex-direction: column;
  padding-left: 0.75rem;
}
svg {
  color: #fff;
}
